Form{
    width:200px;
    height:fit-content;
    background-color: rgb(234, 251, 150);
    margin:auto;

}
#root{
    background-color: rgb(244, 158, 158);
    
}
#exampleEmail{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(245, 245, 245);
    background-color:rgb(3, 3, 3);
}